body{
   background:url(../imgs/transform1.jpg) no-repeat fixed center center;
   background-size: cover;
}
#skin
{
    margin:10px;
    padding:5px;
  	max-width: 30%;
	list-style:none;
    border: 1px solid #CCCCCC;
	overflow:hidden;
    }
#skin li{
	float:left;
    margin:5px;
	overflow:hidden;
	display:block;
	cursor:pointer;
	color:#1e90ff;
	font-size: 20px;
	border: 1px solid #87ceeb;
}